.material-icons.md-18 {
                   font-size: 18px;
                 }

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

dt {
  float: left;
  clear: left;
  width: 15em;
  margin-bottom: 18px;
  font-weight: 400;
}

dd {
  float: left;
}

.fab {
  padding-top: 17px;
  background: #03A9F4;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 48px;
  right: 48px;
  font-size: 3.6667em;
  display: inline-block;
  cursor: default;
  z-index: 2;
}

.fab span {
  vertical-align: middle;
}

.fab.child {
  right: 58.6666666667px;
  width: 129.666667px;
  height: 42.6666666667px;
  display: none;
  opacity: 0;
  padding-top: 8px;
  padding-left: 16px;
  font-size: 15px;
  border-radius: 0%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ECECEC;
  opacity: 0.9;
  display: none;
  z-index: 1;
}

.nav .active {
  font-weight: bold;
}

.card-title {
  font-weight: 400;
}

.sidebar .user .info .caret {
  position: absolute;
  top: 10px;
  right: 10%;
}

.morecontent div {
  display: none;
}

.morelink {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quotationpopover {
  width: 155%;
  margin-left: -22%;
}

.ui-draggable, .ui-droppable {
  background-position: top;
}

.twitter-typeahead {
  display: block !important;
}

.tt-open {
  background: white;
  border: 1px solid grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative !important;
}

.tt-suggestion.tt-selectable:hover {
  background: #238cb9;
  color: #fff;
}

.list:hover {
  background: #4096ec;
  color: white;
}

.btn-primary {
  background-color: #4096ec !important;
  font-weight: bold;
  box-shadow: 0 2px 2px 0 #00bcd4, 0 3px 1px -2px #00bcd4, 0 1px 5px 0 rgba(156, 39, 176, 0.12) !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background: #4096ec;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #337ab7 !important;
}

a {
  color: #4096ec;
}

thead {
  font-size: 14px;
}

.dropdown-menu li > a:hover {
  background: #4096ec;
}

.btn.btn-primary.btn-simple, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple {
  color: #4096ec;
}

.bootstrap-select.btn-group .dropdown-menu li a:focus, .bootstrap-select.btn-group .dropdown-menu li a:hover {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #4d90fe;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
  background-color: #4096ec;
  color: #FFFFFF;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #4096ec;
}

.quotestatus:first-letter {
  text-transform: uppercase;
}

.navbar .navbar-wrapper {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: flex !important;
    flex-basis: auto;
  }
}

.justify-content-end {
  -webkit-box-pack: end !important;
  justify-content: flex-end !important;
}

.navbar-collapse {
  flex-basis: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

.alert {
  min-width: 150px;
  padding: 15px;
  position: relative !important;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.alert-success {
  background-color: #91cf91;
  border-color: #80c780;
  color: #3d8b3d;
}

.alert-warning {
  background-color: #ebc063;
  border-color: #e8b64c;
  color: #a07415;
}

.alert-danger {
  background-color: #e27c79;
  border-color: #dd6864;
  color: #9f2723;
}

.alert p {
  padding: 0;
  margin: 0;
}

.alert i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 24px;
}

.alert .close-alert {
  -webkit-appearance: none;
  position: relative;
  float: right;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  filter: alpha(opacity=40);
  opacity: .4;
}

.alert .close-alert:hover {
  filter: alpha(opacity=70);
  opacity: .7;
}

.shadow-1, .alert {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2, .alert:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active, .bootstrap-table .dropdown-menu li a:hover, .bootstrap-table .dropdown-menu li a:focus, .bootstrap-table .dropdown-menu li a:active {
  background-color: transparent !important;
  box-shadow: none !important;
}

#note {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 6%;
  background: #fde073;
  color: black;
  font-weight: 500;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
}

.fc-state-default {
  background-color: #f5f5f5;
  /* background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6)); */
  /* background-image: -webkit-linear-gradient(top,#fff,#e6e6e6); */
  background-image: -o-linear-gradient(top, #fff, #e6e6e6);
  /* background-image: linear-gradient(to bottom,#fff,#e6e6e6); */
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.Blink {
  -webkit-animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 764px) {
  .menut {
    display: block;
  }
}

@media screen and (min-width: 765px) {
  .menut {
    display: none !important;
  }
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #4096ec;
  border-color: #4096ec;
  color: #FFFFFF;
  box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}

.logo-preview {
  width: 200px;
  height: 40px;
  border: 1px solid orange;
  border-radius: 5px;
}
.logo-preview img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.logo {
  text-align: center;
}
.logo img {
  width: 80%;
  height: 40px;
  object-fit: cover;
}
.dataTables_paginate a {
  display: inline-block;
  cursor: pointer !important;
  border: 0;
  border-radius: 30px !important;
  transition: all .3s;
  padding: 0 11px;
  margin-left: 3px;
  margin-right: 3px !important;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  color: #999999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
}
.dataTables_paginate a.current{
  background-color: #4096ec;
  border-color: #4096ec;
  color: #FFFFFF;
  box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
  cursor: default !important;
}
.dataTables_paginate a:not(.current):focus, .dataTables_paginate a:not(.current):hover {
  background-color: #eee;
  border-color: #ddd;
}
.dataTables_paginate a.disabled {
  cursor: not-allowed !important;
}
.table tbody tr.loading td {
  padding: 25px 0 !important;
  text-align: center;
}
.table tbody tr.loading td i {
  font-size: 24px;
}
.additional-action {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
}
.additional-action form {
  vertical-align: top;
  display: inline-block;
}